<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--  Relevant stylesheets for given pages  -->
        <link rel="stylesheet" type="text/css" href="/css/index.css" />

        <!-- Script to handle user alerts -->
        <script type="text/javascript" src="/js/userAlerts.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- For Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <!--Main navbar layout for website-->
    <body>
        <header>
            <nav id="navbar" class="navbar navbar-default" style="border-radius:0">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/" ><img id="logo-img" alt="Brand" src="https://ucsd.edu/_resources/img/logo_UCSD.png"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <ul class="nav navbar-nav navbar-right">
                        <ul class="nav navbar-nav">
                            <li>
                            <form class="navbar-form navbar-left" action="/searchPage" method="post">
                                <div class="form-group">
                                    <input id="searchbar" type="text" class="form-control" name="searchbar" placeholder="Search Clubs">
                                </div>
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </form> </li>
                            <li class="navitem"><a class="navbutton" href="/searchPage">View All Clubs</a></li>
                            <li class="dropdown navitem">
                                <% if(user != undefined) {%>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.fname + " " + user.lname %><span ></span></a>
                                <ul class="dropdown-menu">
                                        <li><a href="/users/userProfilePage">View Profile</a></li>
                                        <li><a href="/users/createClubProfile">Create Club</a></li>
                                        <li><a href="/users/editUserProfile" >Edit Profile</a></li>
                                        <li><a href="/users/changePassword" >Change Password</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/users/logout" >Logout</a></li>
                                </ul>
                                <% } %>
                                <% if(user == undefined) { %>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile<span ></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/users/createUserProfile" >Create User</a></li>
                                    <li><a href="/users/login" >Login</a></li>
                                <% } %>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </nav>

            <!-- Loads messages after an event -->
            <% if(successMsg.length > 0) {%>
            <div align="center" class="alert alert-success" id="userAlert"> <%= successMsg %> </div>
            <% } %>

            <% if(errorMsg.length > 0) {%>
            <div align="center" class="alert alert-danger" > <%= errorMsg%> </div>
            <% } %>
        </header>

        <main>
            <!-- Page content added here -->
            <%- defineContent('bodyPage')%>
        </main>

        <footer class="footer">
            <p>
                &copy; 2017 Swoon
            </p>
        </footer>
    </body>
</html>
