body {
  margin: 0;
  padding-top: 0;
  font-family: sans-serif;
  background-color: whitesmoke!important;
}

/* Block for Navbar styling */
#logo-img {
  width: 155px;
}

#navbar {
  background-color: white;
  padding: 0;
  margin: 0;
}

.Container {
  width: 100%;
  min-width: 500px;
  margin: auto;

}

.navitem-hover {
  background-color: rgb(110,110,110);
}


.thumbnail-wrapper {
  width: 10%;
}

img.portrait {
  width: auto;
  height: 100%;
}

.button-clubs {
  position: absolute;
  color: black;
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  border-left: 6px solid whitesmoke;
  border-right: 3px solid whitesmoke;
  border-top: 4px solid whitesmoke;
  border-radius: 0px;
  z-index:2;
}


.button-find {
  position: absolute; 
    color: white; 
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);  
    border: 2px solid white; 
    font-size: 16px; 
    text-align: center;
    width: 140px;
    height: 35px;
    position: absolute;
    left: 43%;
    top: 47%; 
    border-radius: 20px;
    z-index:2;
}


.button-small {
  position: absolute; 
    color: white; 
    background-color: rgba(0,0,0,0.7);  
    border: 2px solid white; 
    font-size: 16px;
    text-align: center;
    width: 140px; 
    height: 45px;
    
    position: absolute;
    left: 33%;
    top: 50%; 
    border-radius: 20px;
    z-index:2;
}




h1 {
  font-family: sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -10;
}