<%- contentFor('bodyPage')%>
<title>Change Password</title>

<!-- If errors exists then show them -->
    <% if(errors) {%>
        <% errors.forEach(function (errors) { %>
            <div class="alert alert-danger">
                <%= errors.msg %>
            </div>
    <% }); %>
<% } %>

<form action="/users/changePassword" method="post" id="changePasswordForm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Change Password</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="currentPass">Current Password:</label>
                <input type="password" class="form-control" id="currentPass" name="oldPassword" maxlength="30" required/>
            </div>
            <div class="col-md-4 form-group">
                <label for="newPass">New Password:</label>
                <input type="password" class="form-control" id="newPass" name="password" maxlength="30" required/>
            </div>
            <div class="col-md-4 form-group">
                <label for="confirmNewPass">Confirm New Password:</label>
                <input type="password" class="form-control" id="confirmNewPass" name="password2" maxlength="30" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-10 form-group">
                <button type="submit" class="btn btn-default">Change Password</button>
            </div>
        </div>
    </div>

</form>