<%- contentFor('bodyPage')%>

<title>Account Recovery</title>

<h2 class="page-header" style="position: relative;left: 35%; border-bottom: none">Account Recovery</h2>

<form action="/credentialRequest" method="POST">
    <div class="container" style="position: absolute; left: 34%;">
        <div class="form-group">
            <label for="email">Enter UCSD email:</label>
            <input type="email" class="form-control" name="email" required style="width: 350px">
        </div>

        <div class="row">
            <div class="col-sm-2">
                <button type="submit" id="submitBtn" class="btn btn-success" style="background-color: rgb(40,40,40); border: none;">Submit</button>
            </div>
        </div>
    </div>
</form>