<%- contentFor('title')%>
<title>Edit Profile</title>

<%- contentFor('edit_club_profile') %>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color:white" class="navbar-brand" href="#">SWOON</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarstuff">
            <ul class="nav navbar-nav">
                <li class="navitem"><a style="color:white" class="navbutton" href="#">View All Clubs <span class="sr-only">(current)</span></a></li>
                <li class="navitem"><a style="color:white" class="navbutton" href="#">Schedule</a></li>
                <li  class="dropdown navitem">
                    <a style="color:white" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Music</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Dance</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Fraternity/Sorority</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navitem">
                    <a style="color:white" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">View Profile</a></li>
                        <li><a href="#">Edit Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
        
        

    <form>
        <div class="form-group">
            <label for="Age">Age:</label>
            <input type="number" class="form-control" id="Age" placeholder="Please Enter Your Age" />
        </div>
        <div class="form-group">
            <label for="Gender">Gender:</label>
            <select class="form-control" id="Gender">
                <option>Male</option>
                <option>Female</option>
                <option>3rd Gender</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Academic Year">Academic Year:</label>
            <select class="form-control" id="AcaYear">
                <option>Freshman<option>
                <option>Sophmore<option>
                <option>Junior<option>
                <option>Senior<option>
                <option>5th Year<option>
                <option>Graduate Student<option>
            </select>
        </div>
        <div class="forum-group">
            <label for="Major">Major:</label>
            <input type="text" class="form-control" id="Major" placeholder="Please Enter Your Major" />
        </div>
        <div class="forum-group">
            <label for="Bio">About Me:</label>
            <textarea type="text" class="form-control" id="Bio" placeholder="Say something about yourself."></textarea>
        </div>
    </form>
    
    <div class="row">
        <div class="col-sm-2">
            <button type="button" href="#" class="btn btn-success">Save Changes</button>
        </div>
    </div>
    
</body>