<%- contentFor('body_page') %>
<title>Edit Profile</title>
<body>
    <h2 class="page-header">Edit User Profile</h2>
    <form>
        <div class="container">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="firstname">First Name:</label>
                    <input type="text" class="form-control" name="firstname" />
                </div>
                <div class="form-group col-md-4">
                    <label for="lastname">Last Name:</label>
                    <input type="email" class="form-control" name="lastname" />
                </div>
                <div class="form-group col-md-4">
                    <label for="phone">Phone Number:</label>
                    <input type="tel" class="form-control" name="phone" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="email">UCSD Email:</label>
                    <input type="email" class="form-control" name="email" />
                </div>
                <div class="form-group col-md-2">
                    <label for="age">Age:</label>
                    <input type="number" class="form-control" name="age"  />
                </div>
            </div>

            <div class="row">

                <div class="form-group col-md-6">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" />
                </div>

                <div class="form-group col-md-6">
                    <label for="conf_pass">Confirm Password:</label>
                    <input type="password" class="form-control" name="conf_pass" />
                </div>
            </div>
            <div class="row">

            </div>


            <div class="row">
                <div class="col-sm-2">
                    <button type="button" href="/create_user_profile" class="btn btn-success">Save Changes</button>
                </div>
            </div>
        </div>
    </form>
</body>