<%- contentFor('title')%>
<title>TeamSWOON</title>

<%- contentFor('body_page') %>
<body>
    <div style="width: 70%; height: 100%; overflow: hidden; position: absolute; top: 60px; border: none; z-index:1;">
        <a href="clublist.html" class="button-clubs"></a>
        
        <button onclick="location.href = 'clublist.html'" class="button-find" >Find Clubs</button>
        
       <img src="http://ucpa.ucsd.edu/images/work/_standard/1415-founders-19.jpg" alt="Responsive image" alt="Responsive image" style="min-width: 400px; max-width: 1000px; min-height: 100%; max-height: 150%; border: none; position: relative;"/>
   </div>
    
    <div style="width: 30%; height: 50%; overflow: hidden; position: absolute; right: 0; top: 60px; z-index:1;">
       <a href="#" class="button-clubs"></a>

        <button onclick="location.href = '/edit_user_profile'" type="button"  class="button-small">My Clubs</button>
        
       <img src="http://bssa.ucsd.edu/images/Stock/learning_tree.jpg" style="min-width: 400px; max-width: 300px; max-height: 1800px; right: 0%; border: none; position: relative;"/>    
    </div>
    
    <div style="width: 30%; height: 50%; overflow: hidden; position: absolute; right: 0; bottom: -60px; z-index:1;">
        <a href="#" class="button-clubs"></a>

        <button onclick="location.href = '/edit_user_profile'" type="button"  class="button-small">Profile</button>

        <img src="http://pages.ucsd.edu/~akleske/W110/tanzer/geisel.jpg" style="min-width: 400px; max-width: 700px; max-height: 500px; left: -200px; top: -100px; position: relative; right: 0px;"/>
   </div>
</body>