<%- contentFor('bodyPage')%>
<title>SWOON</title>

<<<<<<< HEAD
<style>
    #home-body{
        background-image: url(http://www.lajollainnbythesea.com/bpimages/lajolla_beach.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-origin: border-box;
        background-size: cover;
    }

    #home-search[type=text] {
        width: 140px;
        box-sizing: border-box;
        border: 2px solid white;
        border-radius: 20px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        margin: auto;
        padding: 10px 20px;
        transition: width 0.4s ease-in-out;
        text-align: center;
        color: white;
        display: block;
        margin-top: 23%;
    }

    #home-search[type=text]:focus {
        width: 50%;
        color: white;
        text-align: left;
        outline: none;
        border-radius: 5px;
    }

    #home-search[type=text]:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

</style>

<body id="home-body">
    <!-- TODO if user is not logged in, load this -->
    <% if(user == undefined) {%>
=======
<body>

    <% if(user == undefined) {%>
        <div style="width: 100%; height: 100%; overflow: hidden; position: absolute; top: 60px; border: none; z-index:-2;">
            <a href="#" class="button-clubs"></a>
>>>>>>> 6767ac41db70d9f0fde2633ed503d9929a7722aa

    <form action="/searchPage" method="post">
        <input id="home-search" type="text" name="searchbar" placeholder="Search Clubs" />
    </form>

    <% } %>
    <% if(user != undefined) {%>
        <div style="width: 70%; height: 100%; overflow: hidden; position: absolute; top: 60px; border: none; z-index:-2;">
            <a href="#" class="button-clubs"></a>

            <button onclick="location.href = '/searchPage'" class="button-find">Find Clubs</button>

            <img src="img/lajolla2.png" alt="Responsive image" style="min-width: 400px; min-height: 100%; max-height: 150%; border: none; position: relative;"/>
        </div>

        <div style="width: 30%; height: 100%; overflow: hidden; position: absolute; right: 0; bottom: -60px; z-index:-2;">
            <a href="#" class="button-clubs"></a>

            <button onclick="location.href = '/users/editUserProfile'" type="button"  class="button-small">Profile</button>

            <img src="img/geisel.jpg" style="min-width: 400px; max-width: 5000px; min-height: 100%; max-height: 100%; left: -300px; position: relative;"/>
        </div>
    <% } %>
</body>