<%- contentFor('bodyPage')%>
<title>UCSD Club Finder</title>

<style>
    <% if(user == undefined) {%>
    body{
        background-image: url(http://www.lajollainnbythesea.com/bpimages/lajolla_beach.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-origin: border-box;
        background-size: cover;
        border-radius: 0px;
    }
    <% } %>
    #home-search[type=text] {
        width: 140px;
        box-sizing: border-box;
        border: 2px solid white;
        border-radius: 20px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        margin: auto;
        padding: 10px 20px;
        transition: width 0.4s ease-in-out;
        text-align: center;
        color: white;
        display: block;
        margin-top: 23%;
    }
    #home-search[type=text]:focus {
        width: 50%;
        color: white;
        text-align: left;
        outline: none;
        border-radius: 5px;
    }
    #home-search[type=text]:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>

<style>
    <% if(user != undefined) {%>
    body {
        background-image: url(http://www.lajollainnbythesea.com/bpimages/lajolla_beach.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-origin: border-box;
        background-size: cover;
        border-radius: 0px;
        overflow: hidden;
        
    }
    <% } %>
    #home-search-login[type=text] {
        width: 140px;
        box-sizing: border-box;
        border: 2px solid white;
        border-radius: 20px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        padding: 10px 20px;
        transition: width 0.4s ease-in-out;
        text-align: center;
        color: white;
        display: block;
        margin: auto;
        margin-top: 39%; 
        
        
        
    }
    #home-search-login[type=text]:focus {
        width: 50%;
        color: white;
        text-align: left;
        outline: none;
        border-radius: 5px;
    }
    #home-search-login[type=text]:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
</style>

    <% if(user == undefined) {%>
    <form action="/searchPage" method="post">
        <input id="home-search" type="text" name="searchbar" placeholder="Search Clubs" />
    </form>
    <% } %>

    <% if(user != undefined) {%>
        <div class="home-search">
            
            <form action="/searchPage" method="post">
                <input id="home-search-login" type="text" name="searchbar" placeholder="Search Clubs"/>
            </form>
        
        </div>

        <div class="home-profile-2">
            <img src="img/geisel.jpg" class="home-image2" alt="responsive image"/>
        </div>

        <div class="home-profile">
            <button onclick="location.href = '/users/userProfilePage'" type="button"  class="button-small">Profile</button>  
        </div>
    <% } %>