<%- contentFor('bodyPage')%>
<title>Login</title>



<!-- If errors exists then show them -->
<% if(errors) {%>
    <% errors.forEach(function (errors) { %>
        <div class="alert alert-danger">
            <%= errors.msg %>
        </div>
    <% }); %>
<% } %>

<form action="/users/login" method="POST">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h2>Account Login</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 form-group">
                <label for="email">UCSD Email:</label>
                <input type="email" class="form-control" name="email" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" required>
                <a href="/credentialRequest">Forgot Password?</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-2 col-sm-offset-4">
                <button type="submit" id="submitBtn" class="btn btn-default">Login</button>
            </div>
        </div>
    </div>
</form>