<%- contentFor('bodyPage')%>
<title>Login</title>

<h2 class="page-header" style="position: relative;left: 35%; border-bottom: none">Account Login</h2>

<!-- If errors exists then show them -->
<% if(errors) {%>
    <% errors.forEach(function (errors) { %>
        <div class="alert alert-danger">
            <%= errors.msg %>
        </div>
    <% }); %>
<% } %>

<form action="/users/login" method="POST">
    <div class="container" style="position: absolute; left: 34%;">
        <div class="form-group">
            <label for="email">UCSD Email:</label>
            <input type="email" class="form-control" name="email" required style="width: 350px">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" required style="width: 350px; ">
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="/credentialRequest">Forgot Password</a> <br>
            </div>
            <div class="col-sm-2">
                <button type="submit" id="submitBtn" class="btn btn-success" style="background-color: rgb(40,40,40); border: none;">Submit</button>
            </div>
        </div>
    </div>
</form>