<%- contentFor('body_page')%>

<form>
    <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu" style="background-color: rgb(45,45,45); position: fixed; min-width:15%; width: 15%; height: 100%; margin-top: -1.6%;">
        <li>
            <a href="#" data-target="#interest" data-toggle="collapse" data-parent="#stacked-menu" style="border-radius: 0; background-color: rgb(45,45,45); color: white;">Interest<span class="caret arrow"></span></a>

            <ul class="nav nav-pills nav-stacked collapse" id="interest">
                <li><a href="#" data-target="#button1" data-toggle="collapse" data-parent="#interest" style="border-radius: 0; background-color: rgb(55,55,55); color: white;">SubCategory 1<span class="caret arrow"></span></a>

                    <ul class="nav nav-pills nav stacked collapse" id="button1">
                        <label class="btn btn-primary active" style="border-radius: 0; background-color: rgb(100,100,100); color: white; width: 150%">
                            <li><input type="checkbox" name="options" id="option1" value="Radio"> Radio 1 </li>
                            <li><input type="checkbox" name="options" id="option2" value="Radio"> Radio 2 </li>
                            <li><input type="checkbox" name="options" id="option3" value="Radio"> Radio 3 </li>
                            <li><input type="checkbox" name="options" id="option4" value="Radio"> Radio 4 </li>
                        </label>
                    </ul>
                </li>

                <li><a href="#" data-target="#button2" data-toggle="collapse" data-parent="#interest" style="border-radius: 0; background-color: rgb(55,55,55); color: white;">SubCategory 2<span class="caret arrow"></span></a>

                    <ul class="nav nav-pills nav stacked collapse" id="button2">
                        <label class="btn btn-primary active" style="border-radius: 0; background-color: rgb(100,100,100); color: white; width: 150%">
                            <li><input type="checkbox" name="options" id="option1" value="Radio"> Radio 1 </li>
                            <li><input type="checkbox" name="options" id="option2" value="Radio"> Radio 2 </li>
                            <li><input type="checkbox" name="options" id="option3" value="Radio"> Radio 3 </li>
                            <li><input type="checkbox" name="options" id="option4" value="Radio"> Radio 4 </li>
                        </label>
                    </ul>
                </li>

                <li><a href="#" data-target="#button3" data-toggle="collapse" data-parent="#interest" style="border-radius: 0; background-color: rgb(55,55,55); color: white;">SubCategory 3<span class="caret arrow"></span></a>

                    <ul class="nav nav-pills nav stacked collapse" id="button3">
                        <label class="btn btn-primary active" style="border-radius: 0; background-color: rgb(100,100,100); color: white; width: 150%">
                            <li><input type="checkbox" name="options" id="option1" value="Radio"> Radio 1 </li>
                            <li><input type="checkbox" name="options" id="option2" value="Radio"> Radio 2 </li>
                            <li><input type="checkbox" name="options" id="option3" value="Radio"> Radio 3 </li>
                            <li><input type="checkbox" name="options" id="option4" value="Radio"> Radio 4 </li>
                        </label>
                    </ul>
                </li>

            </ul>
        </li>

        <li>
            <a href="#" data-target="#schedule" data-toggle="collapse" data-parent="#stacked-menu" style="border-radius: 0; background-color: rgb(45,45,45); color: white;">Schedule<span class="caret arrow"></span></a>
            <ul class="nav nav-pills nav-stacked collapse" id="schedule">
                <li><a href="#" style="border-radius: 0; background-color: rgb(55,55,55); color: white;">View One</a></li>
                <li><a href="#" style="border-radius: 0; background-color: rgb(55,55,55); color: white;">View Two</a></li>
                <li><a href="#" style="borde-r-radius: 0; background-color: rgb(55,55,55); color: white;">View Three</a></li>
            </ul>
        </li>
    </ul>
</form>
<form>

</form>

</html>