<%- contentFor('bodyPage')%>
<!-- For Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">    
  <div class="row">  
    <!-- Block for Meeting time and location -->
        
        <!-- Block for Contact Info -->
        <div class="col-sm-4 section">
            <div id="contact">
          <h3>Contact Info</h3>
            <dl>
                <dt>Phone:</dt>
                <dd id="phone">(800)123-4567</dd>
                <dt>Email:</dt>
                <dd id="email"><a href="mailto:someone@example.com?Subject=Hello" target="_top"><i  title= "Send Mail" class="fa fa-envelope"></i></a>  somestudent@ucsd.edu</dd>
            </dl>
                <button onclick="location.href = '#'" class="btn btn-success" id="createbtn" style="right: 0; background-color: rgb(40,40,40); border: 2px solid rgb(20,20,20)">Change Info</button>
            <div id="icon">
              <a href="https://www.facebook.com/"><i title="Facebook" class="fa fa-facebook-official"style="font-size:24px;"></i></a>
            </div>
            </div>
            <div id="clubs">
                <h3>Created Clubs:</h3>
                <ul>
                    <li>Club 1</li>
                    <li>Club 2</li>
                </ul>
            </div>
        </div>
    
      
    <div class="col-sm-8">  
        <!-- Club Description --> 
        <div class="section" id="description">
          <h2> User Name<br> </h2>
    
          <h3>About Me:</h3>
          <p id="desc">This club is really cool you should join! These are words and there are lots of them because this club is really cool and we do lots of things like this thing and that thing and another and we would like for you to join the club so you can do some of these fun things with us and then itll be even more fun to do this thing words words words words words words words words words words jfksdfks jdfkdsafh ureurepo cn,xnvz jdakfa jfklsd kfjasd ksadflj;asd ksdjf;a jeihf fjdskla; ksdfjak jfdkl; If spelling doesnt matter i could type at least 200 wpm <br> <br> This is our purpose statement our purpose is to be dope and do dope shit come check us out fam. kadlsfj aksdfj; jkad;f jfkdjfksjdk jfklsdjf  jsdklfj s ei akfjsd kajk asfkfjds fejfidjfkld fkldaf jeoifj dskfeijslakjdf kdse faklfdj fkdsfj ksdjfeijflskdfj eialjfd fkdsfkds fkdfklsda fjsdkf jf dsklaf  jfsdkalf  fjdkslf ieru ewioskfj sdklmxc,nv cx fjsdkl afeir ew fjsdkl  nmcvn fsdklaf ewijr ewifdsakl  jklea  fsdjkaf  rjewkl  fjsakld weoru we fsdklf nvcmx , fdsjakl fweior jeiow fjsdakl ; ruewioa f jsdlka rjeiowa jfds alk hkef dsjklaf rjewio fjsdklar jewiof lksda fjaldks fsadkl fjsadl fsdf  fslk f fsdjklf fdjskl fjdskl fsjl fsdjkl fjskdl </p>
        </div>
        
    </div>
      </div>
  </div>  